# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio
*.exe
*.ilk
*.pdb
*.suo
/ipch
/vcproj-10/map-server_sql
/vcproj-10/char-server_sql
/vcproj-10/login-server_sql
/vcproj-10/mapcache
*.opensdf
*.sdf
/_ReSharper.Cronus-10

# Linux
char-server_sql
login-server_sql
map-server_sql
config.log
config.status
Makefile

#Mac OS X
*.DS_Store
